    <div class="head row">
        <div class="types-menu">
            <button class="type-buttons btn"><a href="{% url 'asset:all' %}" class="button">All</a></button>
            <button class="type-buttons btn"><a href="{% url 'asset:type' 'brush' %}" class="button">Brushes</a></button>
            <button class="type-buttons btn"><a href="{% url 'asset:type' 'pattern' %}" class="button">Patterns</a></button>
            <button class="type-buttons btn"><a href="{% url 'asset:type' 'gradient' %}" class="button">Gradients</a></button>
            <button class="type-buttons btn"><a href="{% url 'asset:type' 'plugin' %}" class="button">Plug-ins</a></button>
        </div>
    </div>
