    <div class="head row">
        <div class="types-menu">
            <a class="type-buttons btn" href="{% url 'asset:all' %}">All</a>
            <a class="type-buttons btn" href="{% url 'asset:type' 'brush' %}" class="button">Brushes</a>
            <a class="type-buttons btn" href="{% url 'asset:type' 'pattern' %}" class="button">Patterns</a>
            <a class="type-buttons btn" href="{% url 'asset:type' 'gradient' %}" class="button">Gradients</a>
            <a class="type-buttons btn" href="{% url 'asset:type' 'plugin' %}" class="button">Images</a>
        </div>
    </div>
