{% load static %}
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{% url 'home' %}">
            <img src="{% static 'images/logo-wilber.svg' %}" width="50" height="28">
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
           data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">


            <a class="navbar-item" href="{% url 'download' %}">
                Download
            </a>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="{% url 'asset:list' %}">
                    Assets
                </a>
                <div class="navbar-dropdown">
                    <a class="navbar-item" href="{% url 'asset:type' 'brushes' %}">
                        Brushes
                    </a>
                    <a class="navbar-item" href="{% url 'asset:type' 'patterns' %}">
                        Patterns
                    </a>
                    <a class="navbar-item" href="{% url 'asset:type' 'gradients' %}">
                        Gradients
                    </a>
                    <a class="navbar-item" href="{% url 'asset:type' 'plug-ins' %}">
                        Plugins
                    </a>
                </div>
            </div>


            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    More
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item" href="{% url 'about' %}">
                        About
                    </a>
                    <a class="navbar-item" href="{% url 'terms' %}">
                        Terms of Use
                    </a>
                    <a class="navbar-item" href="{% url 'privacy' %}">
                        Privacy
                    </a>

                    <hr class="navbar-divider">
                    <a class="navbar-item" href="{% url 'report' %}">
                        Report an issue
                    </a>
                </div>
            </div>
        </div>

        <div class="navbar-end">
            {% if user.is_authenticated %}

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    <figure class="image is-24x24">
                        <img style="border-radius:50%; object-fit: cover; " src="{{ user.profile.photo.url }}" alt="Placeholder image">
                    </figure>
                    {{ user.get_name }}
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item" href="{% url 'user:myself' %}">
                        My Profile
                    </a>
                    <a class="navbar-item" href="{% url 'asset:myself' %}">
                        My Assets
                    </a>
                    <a class="navbar-item" href="{% url 'asset:add' %}">
                        Upload
                    </a>

                    <hr class="navbar-divider">
                    <a class="navbar-item" href="{% url 'report' %}">
                        Report an issue
                    </a>
                    <a class="button is-danger" href="{% url 'account_logout' %}">Logout</a>
                </div>
            </div>

            {% else %}
            <div class="navbar-item">
                <div class="buttons">

                    <a class="button is-primary" href="{% url 'account_signup' %}"><strong>Sign up</strong></a>
                    <a class="button is-light" href="{% url 'account_login' %}">Log in</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</nav>