{% extends "base.html" %}

{% block content %}
        <h1>USERNAME: {{profile.user.username}}</h1>

        {% if request.user == profile.user %}
        <h2><a href="{% url 'user:edit' %}">EDIT</a></h2>
        {% endif %}

        <p>Name: {{profile.user.get_full_name}}</p>

        PHOTO: {% if profile.photo %}<img src="{{ profile.photo.url }}" > {% endif %}
        <p>Bio: {{profile.bio}}</p>
        <p>Organization: {{profile.organization}}</p>
        <p>Website: {{profile.website}}</p>
        <p>Facebook: {{profile.facebook}}</p>
        <p>Instagram: {{profile.instagram}}</p>
        <p>Birthday: {{profile.birthday}}</p>
        <p>City: {{profile.city}}</p>
        <p>Country: {{profile.country}}</p>


        <h1>My Assets:</h1>
        <table class="table">
            <thead>
            <tr>
                <th>Type</th>
                <th>Name</th>
                <th>Size</th>
            </tr>
            </thead>

            <tbody>
                {% for object in asset_list %}
                <tr>
                    <td>{{object.type}}</td>
                    <td><a href="{{object.edit_url}}">{{object.name}}</a></td>
                    <td>{{object.filesize|filesizeformat}}</td>
                    <td><a href={{object.delete_url}}>delete</a> </td>
                </tr>
                {% endfor %}
                <td></td>
                <td>TOTAL</td>
                <td>{{filesize__sum|filesizeformat}}</td>

            </tbody>
        </table>

        <h1>Quota</h1>


{% endblock content %}
