{% extends "base.html" %}
{% load static %}
{% block content %}

<section class="section">
    <div class="content">
        <h2>Download Wilber Plugin for GIMP</h2>

        <div class="tags has-addons">
            <a href="{% static 'releases/wilber_social_0_9.tar.gz' %}">
                <span class="tag is-info">0.9.0</span>
                <span class="tag is-dark">Wilber Plugin</span>
            </a>
        </div>

        <div class="tags has-addons">
            <a href="{% static 'releases/wilber_social_0_9.tar.gz' %}">
                <span class="tag is-info">0.9.0</span>
                <span class="tag is-dark">Wilber Plugin</span>
            </a>
        </div>


    </div>
</section>


{% endblock content %}
