{% extends "account/base.html" %}
{% load bulma_tags %}
{% load i18n %}
{% load static %}
{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<section class="section">
    <div class="content">
        <div class="columns">
            <div class="column">


                <h1>{% trans "Sign Up to Wilber Social" %}</h1>

                <div class="columns">
                    <div class="column">

                        <a href="/accounts/google/login/?process=login">
                            <img src="{% static 'images/btn_google_signin_light_normal_web.png' %}">
                        </a>

                    </div>
                    <div class="column">
                        <div class="fb-login-button" data-width="" data-size="large" data-button-type="continue_with"
                             data-auto-logout-link="false" data-use-continue-as="true"></div>
                    </div>

                </div>


                <p>Already have an account? Then please <a href="{{ login_url }}">sign in</a>.</p>

                <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                    {% csrf_token %}
                    {{ form|bulma }}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                    {% endif %}
                    <button class="button is-primary" type="submit">{% trans "Sign Up" %} &raquo;</button>
                </form>


            </div>
        </div>
    </div>
</section>


{% endblock %}
