{% extends "base.html" %}
{% load asset_tags %}
{% block content %}

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-half">
                <figure class="image">
                    <img src="{{asset.image.url}}">
                </figure>
            </div>
            <div class="column">


                {% if user.is_authenticated and request.user == asset.owner %}
                <div class="columns">
                    <div class="column">
                        <h1>{{asset.name}}</h1>
                    </div>

                    <div class="column">


                        <div class="field has-addons">
                            <p class="control">
                                <a class="button is-warning" href="{{object.edit_url}}">
                                    <span class="icon is-small"><i class="fas fa-download"></i></span>
                                    <span>Edit</span>
                                </a>

                            </p>
                        </div>
                    </div>

                </div>
                {% else %}
                <h1>{{asset.name}}</h1>
                {% endif %}

                <div class="has-text-justified"><span>{{asset.description}}</span></div>

                <br>





                <div class="tags has-addons">
                    <button id="like_button" class="button is-danger" href="{{ asset.do_like }}">


                        <span class="icon is-small">

                            {% asset_liked object request.user as is_liked %}


                            {% if is_liked %}
                            <i id="like_icon" class="fas fa-heart"></i>
                            {% else %}
                            <i id="like_icon" class="far fa-heart"></i>
                            {% endif %}

                        </span>


                        <span><span id="num_likes"> {{asset.num_likes}}</span></span>

                    </button>



                    <span class="tag is-warning">
                    <span class="icon is-small"><i class="fas fa-download"></i></span>
                    <span> {{asset.num_downloads}}</span>

                    </span>
                    <span class="tag is-info">
                    <span class="icon is-small"><i class="fas fa-eye"></i></span>
                    <span> {{asset.num_views}}</span>
                </span>

                </div>


            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-narrow">
                <a class="button is-primary is-large" href="{{asset.file.url}}">Download</a>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
{% block scripts %}
{% if user.is_authenticated %}
<script>

    $("#like_button").click( function()
       {
            $.getJSON("/api/asset/{{asset.id}}/toggle_like/", function(data){
                $("#num_likes").text(data['likes']);
                if(data['liked']){
                    $("#like_icon").removeClass('far').addClass('fas');
                }
                else{
                    $("#like_icon").removeClass('fas').addClass('far');
                }

            })
       }
    );


</script>
{% endif %}


{% endblock scripts %}