{% extends "base.html" %}

{% load asset_tags %}

{% block content %}
        <section id="grid" class="grid clearfix">
            <div class="item ">
                <a href="#">
                    <figure>
                        <img src="{{ object.image.url }}" />
                        <figcaption>
                            <h2>{{ object.name }}</h2>
                            <p>{{ object.description }}</p>
                            <button>View</button>
                        </figcaption>
                    </figure>
                </a>
                <div class="item-atributes">
                    {% asset_liked object request.user as is_liked %}
                        {% if is_liked  %}
                        <a href="#" onclick="do_unlike({{object.pk}});" ><i class="fas fa-heart"></i></a>
                        {% else %}
                        <a href="#" onclick="do_like({{object.pk}});" ><i class="far fa-heart"></i></a>
                        {% endif %}

                    <span>{{ object.num_likes }}</span>
                    <i class="far fa-arrow-alt-circle-down"></i>
                    <span>{{ object.num_downloads }}</span>
                    <i class="fas fa-share-alt"></i>
                    <span>{{ object.num_shares }}</span>
                </div>
            </div>
            <form method="POST" action="" class="form">
            {% csrf_token %}
            Are you sure you want to delete this asset?
            <input type="submit" value="Yes"/>
            <a href="{{object.get_absolute_url}}/">Cancel </a>
            </form>

        </section>
{% endblock content %}
