{% extends "base.html" %}


{% block content %}
<section class="section">
    <div class="content">


        <div class="tile is-ancestor">
            <div class="tile is-parent">
                {% for asset in asset_list %}
                <div class="tile is-child is-3 ">
                    {% include 'assets/asset_list_item.html' with asset=asset %}
                </div>
                {% if forloop.counter|divisibleby:"4" %}
            </div>
        </div>
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                {% endif %}

                {% endfor %}
            </div>
        </div>


    </div>
</section>
{% if is_paginated %}
<section class="section">
    <div class="columns is-centered">
        <div class="column is-one-quarter has-text-right">
            {% if page_obj.has_previous %}
                    <a class="button" href="{{url}}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
        </div>
        <div class="column is-one-quarter has-text-left">
            {% if page_obj.has_next %}
                    <a class="button" href="{{url}}?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
        </div>
    </div>
    <div class="columns is-centered">
        <div class="column is-one-quarter has-text-centered">
            <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
        </div>
    </div>



</section>
{% endif %}









{% endblock content %}
