{% extends "base.html" %}

{% block content %}
        <section id="grid" class="grid clearfix">
            <div class="item ">
                <a href="#">
                    <figure>
                        <img src="{{ object.thumbnail.url }}" />
                        <figcaption>
                            <h2>{{ object.name }}</h2>
                            <p>{{ object.description }}</p>
                            <button>View</button>
                        </figcaption>
                    </figure>
                </a>
                <div class="item-atributes">
                    <a target="_blank" href="{% url 'asset:add_like' object.pk %}"><i class="far fa-heart"></i></a>
                    <span>{{ object.num_likes }}</span>
                    <i class="far fa-arrow-alt-circle-down"></i>
                    <span>{{ object.num_downloads }}</span>
                    <i class="fas fa-share-alt"></i>
                    <span>{{ object.num_shares }}</span>
                </div>
            </div>
            
            
            <h1><a href={{ object.file.url }}>DOWNLOAD</a></h1>
            
        </section>
{% endblock content %}
