{% extends "base.html" %}
{% load asset_tags %}

{% block content %}

        <section class="grid">
            <div class="row">
            {% for item in asset_list %}
                <div class="col-4">
                    <a href="{{ item.get_absolute_url  }}">
                        <figure>
                            <img src="{{ item.image.url }}" />
                            <figcaption>
                                <h2>{{ item.name }}</h2>
                                <p>{{ item.description }}</p>
                                <button>View</button>
                                <p></p>
                            </figcaption>
                        </figure>
                    </a>
                    <div class="item-atributes">
                        {% asset_liked item request.user as is_liked %}
                        {% if is_liked  %}
                        <a href="#" onclick="do_unlike({{item.pk}});" ><i class="fas fa-heart"></i></a>
                        {% else %}
                        <a href="#" onclick="do_like({{item.pk}});" ><i class="far fa-heart"></i></a>
                        {% endif %}
                        <span>{{ item.num_likes }}</span>
                        <i class="far fa-arrow-alt-circle-down"></i>
                        <span>{{ item.num_downloads }}</span>
                        <i class="fas fa-share-alt"></i>
                        <span>{{ item.num_shares }}</span>
                    </div>
                </div>
            {% endfor %}
            </div>
        </section>
{% endblock content %}
